@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-6">
        <p>
            This website is an example for developers that shows how to user the Cosmos DB provider
            for ASP.NET Identity with .Net 6.  This is an open-source project on <a href="https://github.com/CosmosSoftware/AspNetCore.Identity.CosmosDb">GitHub</a>.
        </p>
        <p>
            If you find bugs, or have comments or suggestions, please add a note on our
            <a href="https://github.com/CosmosSoftware/AspNetCore.Identity.CosmosDb/discussions">project discussion boards.</a>
            Please see the following for more information:
        </p>
        <ul>
            <li>Source code on <a href="https://github.com/CosmosSoftware/AspNetCore.Identity.CosmosDb">GitHub</a></li>
            <li><a href="https://www.nuget.org/packages/AspNetCore.Identity.CosmosDb/">NuGet Package</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-6.0&tabs=visual-studio">Introduction to Identity on ASP.NET Core</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/cosmos-db/introduction">Introduction to Cosmos DB</a></li>
        </ul>
        <p>Thank you!</p>
    </div>
</div>
